<div class="card">
    <div class="card-body">
        <h1>About</h1>
        <p>SkillsBBVA es un proyecto final(Mínimo Viable) implementado como consecuencia de haber recibido el curso de TechU-Nivel practitioner, impulsado por el BBVA. Desarrollado integramente con lo aprendido en el taller que se dictó entre los meses de Julio y Agosto del 2019, acargo del tutor Ezequiel Llarena Borges. </p>
    </div>
</div>