<div class="card">
    <div class="card-body">
        <h1>About</h1>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Veniam, libero ipsum soluta ratione, quo minima, distinctio dolore incidunt unde consectetur repudiandae deleniti iure maxime assumenda similique? Minima eveniet, possimus veritatis, ipsam nulla est deleniti non consequuntur nisi error, repellat dignissimos!</p>
    </div>
</div>