<div class="jumbotron mt-4">
    <h1 class="display-4">Skills BBVA</h1>
    <p class="lead">Lorem ipsum dolor sit amet consectetur adipisicing elit. </p>
    <hr class="my-4">
    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Neque sed tenetur consequuntur maxime quae esse ipsum eaque ad deleniti illo impedit error ipsam incidunt, distinctio consectetur dolores aperiam, itaque provident!</p>
    <a href="http://www.google.com" class="btn btn-primary btn-lg">gooogle</a>
</div>