<div class="jumbotron mt-4">
    <h1 class="display-4">Skills BBVA</h1>
    <p class="lead">Repositorio general de las habilidades de los colaboradores del BBVA.</p>
    <hr class="my-4">
    <p>Herramienta que permitirá identificar a los colaboradores que cuentan con determinadas habilidades. Esto ayudará a ofrecerles oportunidades de acuerdo a sus perfiles y conocimiento con las que cuentan.</p>
    <a href="http://www.bbva.pe" class="btn btn-primary btn-lg">BBVA</a>
</div>